

body {
    background-color: rgb(37, 218, 193);
    font-family: 'Verdana','sans-serif';
    height: 100%;
    color: #0d1730;
    font-size: .938rem;
    
   
}
.mainContainer {
    left: 50%;
    width: 95%;
    max-width: 1024px;
    position: relative;
    transform: translate(-50%);
    overflow: hidden;
    top: 50%;
    
} 

html {
    scroll-behavior: smooth;
}

h1,h2,p {
    margin: 0;

}

h2{
    font-size: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    
}

a {
    text-decoration: none;
}

.body-grid {
    display: grid;
    max-width: 1024px;
    margin-left: 1rem;
    margin-right: 1rem;
    
    
}

.navigationBarContainer {
    box-shadow: 0 8px 6px -4px rgb(146,161,176,0.15);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    position: fixed;
}

.navbar {
    justify-content: space-between;
    height: 3rem;
   align-items: center;
   font-weight: 610;
   display: flex;
   
}

.nav_menu_item {
    margin-bottom: 2rem;
}

.item_link {
    color: #0d1730;
    position: relative;
    
}

.item_link:hover {
    position: relative;
}

.item_link:hover::after {
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color:#3e6ff4;
    width: 100%;
    

    position: absolute;
    content: '';
   
}

.header_name {
    font-size: 1.5rem;
    cursor: pointer;
    color:  rgb(110, 65, 233);
    
}



.show {
    right: 0 !important;
}

.home {
    position: relative;
    row-gap: 6em;
    padding: 4rem 0 5rem;
}

.home_data {
    align-self: center;
    margin-left: 180px;
    justify-content: center;
    
    
}

.home_title {
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
}

.home_title_colored {
    color: rgb(110, 65, 233);
}

.button {
    align-items: center;
    background-color: rgb(110, 65, 233);
    padding: 0.75rem 2.5rem;
    display: inline-block;
    color: #fff;
    width:100px;
    border-radius: 0.5rem;
    transition: 0.3s;
    justify-content: center;
    font-weight: 600;
}

.button:hover {
    box-shadow: 0px 10px 36px rgba(0,0,0,0.15);
}

.home_img {
    position: relative;
    right: 0;
    bottom: 0;
    width: 260px;
   
    
}
.home_blob_img {
    width: 370px;
}

.about_container {
    row-gap: 2rem;
    display: flex;
}

.section {
    padding-top: 0;
    padding-bottom: 0;
}
.section-title {
    color: rgb(110, 65, 233);
    margin-top: 1rem;
    position: relative;
    font-size: 1.25rem;
     margin-bottom: 2rem;
}

.about_text {
    justify-items: flex-start;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    
    
}

.about_subcontainer1 {
    width: 50%;
    text-align: left;
    margin-left: 20px;
    justify-items: flex-start;
    line-height: 1.8em;
       
}

.about_subcontainer2 {
    text-align: left;
    margin-left: 50px;
    justify-items: flex-start;
    width: 40%;
    margin-left: 5.5rem;
        line-height: 3em;
       
    
}

.education_container {
    box-shadow: 0px 0px 4px 3px rgb(0 0 0 / 10%);
    display: flex;
    height: 120px;
    
}

.education_subcontainer1 {
    width: 30%;
    background: rgb(110, 65, 233);
    color: white;
}

.education_subcontainer2 {
    width: 70%;
    padding-left: 10%;
    font-size: 15px;
}

.education_subcontainer1_text1 {
    right: 25%;
    transform: translate(0, -40%);
    position: relative;
    top: 40%;
    left: 10%;
    font-size: 11px;
}

.education_subcontainer1_text2 {
    position: relative;
    top: 44%;
    left: 8%;
    transform: translate(0, -40%);
    font-size: 11px;
    right: 25%;
    
}

.education_subcontainer21 {
   
    left: -10%;
    position: relative;
    top: 21%;
    right: 25%;
    transform: translate(0, -21%);
    
}

.education_subcontainer22 {
    right: 25%;
    transform: translate(0,-23%);
    font-size: 12px; 
    top: 25%;
    left: -10%;
    color: rgba(0,0,0,0.75);
    position: relative;
}

.education_subcontainer21_text1 {
    font-size: 20px;
}

.education_subcontainer21_text2 {
    font-size: 11px;
    color: rgba(0,0,0,0.75);
}

.contact_form {
    width: 97%;
}

.contact_input {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid #0d1730;
    width: 97%;
    font-weight: 600;
    outline: none;
    margin-bottom: 2rem;
    font-size: 0.938rem;
}

.radioButtonContainer {
    margin-bottom: 2rem;
}

.contact_button {
    font-size: 0.938rem;
    cursor: pointer;
    display: block;
    border: none;
    outline: none;
    margin-left: auto;
}

@media screen and (max-width: 767px) 

{
    .navigation_menu {
        
        padding: 2rem;
        background-color: #0d1730;
        transition: 0.5s;
        width: 80%;
        height: 100%;
        position: fixed;
        top: 3rem;
        right: -100%;
       
    }
    
    .about_container {
        display: block;
    }

    .about_subcontainer2 {margin-left: 0;width: 100%; padding-left: 0;}

    .about_subcontainer1 {
        width: 100%;
    }
}

    .nav_menu_item {
        margin-bottom: 2rem;
    }

    .item_link {
        position: relative;
        color: #fff;
    }

    .item_link:hover {
        position: relative;
    }

    .item_link:hover::after {
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: #3e6ff4;
        position: absolute;
        content: '';
        width: 100%;
        
    }

@media screen  and (max-width: 320px) {
    .home {
        row-gap: 2rem;
    }
    .home_img {
        position: relative;
        width: 200px;
    }
}

@media screen and (min-width: 576px) {
    .home {
        padding: 4rem 0 2rem;
    }

    .home_img {
        width: 300px;
        bottom: 14%;
        position: absolute;
       
    }

    .about-container {
        align-items: center;
        text-align: initial;
        grid-template-columns: repeat(2,1fr);
        
    }

    .contact_form {
        width: 95%;
    }

    .education_subcontainer1_text1 {
        font-size: 14px !important;
        transform: translate(0,-40%) !important;
        top: 40% !important;
        left: 20% !important;
        
    }

    .education_subcontainer1_text2 {
        transform: translate(0,-40%) !important;
        font-size: 14px !important;
        top: 40% !important;
        left: 20% !important;
       
    }     
}

@media screen and (min-width: 990px) 
{
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
    .home {
      padding: 10rem 0 2rem;
    }
    .home__img {
      width: 450px;
    }
  }